* {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    transition: 0.2s;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
}

.player {
    width: 400px;
    height: 680px;
    /* border: 2px solid black; */
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(to right, rgb(226, 225, 225) , rgb(238, 238, 238));
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.368) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: relative;
}

.header {
    font-size: 18px;
    color: rgb(20, 20, 20);
    margin-bottom: 25px;
}

.songTitle {
    font-weight: 200;
    font-size: 25px;
    color: rgb(20, 20, 20);
}

.artist {
    color: rgb(65, 65, 65);
}

img {
    width: 280px;
    border-radius: 50%;
    background: #c7c7c7;
    box-shadow:  -7px 7px 14px #9b9b9b,
             7px -7px 14px #ffffff;
}

.progressBarBox {
    display: flex;
    justify-content: center;
}

.progressBar {
    border: 1px solid rgba(184, 184, 184, 0.551);
    height: 10px;
    width: 80%;
    border-radius: 5px;
}

.progress {
    height: 10px;
    width: 70%;
    background: rgb(50, 222, 237);
    background: radial-gradient(circle, rgb(51, 221, 237) 54%, rgba(142,236,255,1) 100%);
}

.buttonsBox {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
    /* border: 1px solid black; */
}

.playButtons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-solid {
    font-size: 40px;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.fa-backward, .fa-forward {
    /* border: 1px solid black; */
    color: rgb(87, 87, 87);
    background-color: #dddddd;
    box-shadow: rgba(99, 99, 99, 0.715) 0px 2px 8px 0px;
    padding: 7px;
}

.fa-forward:hover {
    color: rgb(52, 52, 52);
}

.fa-backward:hover {
    color: rgb(52, 52, 52);
}

.fa-forward:active {
    color: #e9e9e9;
}

.fa-backward:active {
    color: #e9e9e9;
}

.fa-play {
    font-size: 40px;
    color: rgb(100, 225, 251);
    padding: 3px 7px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: inset -5px 5px 10px #d3d3d3,
            inset 5px -5px 10px #ffffff;
    scale: 1.3;
    padding: 6px 13px;
}

.fa-play:hover {
    color: rgb(11, 203, 241);
}

.fa-play:active {
    color: #e9e9e9;
}


.shadowBarBox {
    display: flex;
    justify-content: center;
}

.shadowBar {
    /* border: 1px solid black; */
    border-radius: 5px;
    height: 5px;
    width: 60%;
    background: #c7c7c7;
    box-shadow: inset -2px 2px 3px #e2e2e2,
            inset 2px -2px 3px #ffffff;
}

.fa-power-off {
    color: rgba(219, 0, 0, 0.708);
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    padding: 10px;
    box-shadow: inset 6px 6px 13px #d5d5d5,
            inset -6px -6px 13px #ffffff;
}

.fa-power-off:hover {
    color: red;
}

.fa-magnifying-glass {
    color: rgb(87, 87, 87);
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 30px;
    padding: 10px;
    box-shadow: inset 6px 6px 13px #d5d5d5,
            inset -6px -6px 13px #ffffff;
}

.fa-magnifying-glass:hover {
    color: rgb(52, 52, 52);
}

.codeBuddyIsDumb {
    font-weight: 800;
    display: none;
}

